@import url(https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #081b29;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
   justify-content: space-between;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: 600;

}
.navbar a{
    font-size: 18px;
    color:#ededed ;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    


}
.home-content{
    max-width: 700px;
    margin-left: 5px;
}
.home-content h1{
    font-size: 100px;
    font-weight: 700;

}
.home-content h3{
    font-size: 40px;
    font-weight: 700;
    color: #00abf0;


}
.home-content p{
    font-size: 16px;
}
.home-content .btn-box{
    cursor: pointer;
    padding-bottom: 20px;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 6em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    margin-top: 20px;
    transform: translateY(15px);
   

}

.btn-box:hover{
    animation: ani 8s linear infinite;
    border:none;
}
@keyframes ani {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.btn-box:before{
    content:'';
    position:absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index :-1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
.btn-box:hover::before{
    filter:blur(20px);
}
.home-content p{
    transform:translateY(10px);
}
.btn-box:active{
    background:linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);

}
.home-sci{
    padding-top: 110%;
    color: #00abf0;
    margin-top: 10px;
    transform: translateY(-100px);
    transform: translateX(-1px);
    position:absolute;
    bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid #00abf0;
    content: '';
    position: relative;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    transform: translateY(-120px);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover{
    color:#081b29;
}
.home-sci a:hover::before{
    width: 200%;
}

.h5::before{
    color: black;
}
.but{
    cursor: pointer;
    padding-bottom: 20px;
    text-decoration: none;
    margin-top: 40px;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 6em;
    height: 3em;
    line-height: 3em;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#8b6fb2,#01e6ff,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    overflow: hidden;
    
}

.but::before{
    content:'';
    position:relative;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index :-1;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
    overflow: hidden;
}
.but:hover{
    animation: ani 8s linear infinite;
    border:none;
    transition: .5s;
}
.but:hover::before{
    filter:blur(20px);
}
.but:active{
    background:linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);

}
h5{
    font-size: 30px;
    text-align: center;
    margin-top: 75px;
    cursor:default ;
    
    height: 200px;
}
.about{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
    background: #0d2d44;
    padding-bottom: 6rem;
    width: 100%;
    justify-content: center;
    justify-items: center;

   

}
.about-content h3{
    font-size: 2rem;
    text-align: center;
}
.about span{
    color: #03a9f4;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;

}
.about-content{
    margin-left: 10%;
    margin-right: 10%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-items: center;


}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: center;
}
.but{
    display: inline-block;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    width: 10rem;
    box-shadow: -2px 5px 10px#081b29;
    margin-left: 45%
}
